<!-- src/app/pages/tv-series/tv-series.component.html -->

<div class="p-6">
  <h2 class="text-2xl font-bold text-white mb-4">TV Series</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
    <!-- TV Series Card -->
    <div *ngFor="let series of tvSeries$ | async" class="relative group">
      <img [src]="series.thumbnail.regular.large" alt="{{ series.title }}" class="w-full h-56 object-cover rounded-lg">
      <div class="absolute bottom-4 left-4">
        <h3 class="text-lg font-semibold text-white">{{ series.title }}</h3>
        <p class="text-sm text-secondary">{{ series.year }} • {{ series.category }} • {{ series.rating }}</p>
      </div>
      <!-- Bookmark Icon -->
      <button class="absolute top-4 right-4 p-2 bg-dark bg-opacity-50  rounded-full">
        <img src="assets/icon-bookmark-empty.svg" alt="Bookmark" class="w-6 h-6">
      </button>
    </div>
  </div>
</div>
