/* src/app/pages/home/home.component.css */

.text-secondary {
  color: #5A698F;
}

.text-white {
  color: #FFFFFF;
}

h2 {
  color: #FFFFFF;
}

.relative {
  position: relative;
}

img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}

/* Hide scrollbar for the div with class .no-scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
